*{
    /* border: 1px solid black; */
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
    color: #3A3A3A;
}
/* Shared Value */
.btn {
    background-color: #E02C6D;
    color: #ffffff;
    font-weight: bold;
    padding: 0.6rem 1.5rem;
    border-radius: 40px;
    transition: .5s;
    position: relative;
    left: 0;
    cursor: pointer;
}
.btn:hover {
    background-color: #000000;
    left: 10px;
}

/* Header */
header {
    margin: 3rem 6.5rem;
}
.fa-cart-shopping {
    position: relative;
}
.fa-cart-shopping::after {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: -3px;
    right: -2px;
}
.image-content {
    background-image: url(../images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Popular Sec */
.collection {
    margin: 0 150px;
}
.card {
    padding: 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.card:hover{
    scale: 1.05;
}
.card h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 16px;
}
.card h4 {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    line-height: 150%;
}
.review {
    width: 100px;
    gap: 10px;
}
.card p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

/* Feture */
.feture {
    margin: 80px 150px;
}
.image-sec img{
    width: 600px;
    height: auto;
}